<% layout('layouts/boilerplate') -%>
<h1> Edit Post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <p><input type="text" step=".01" name="post[title]" placeholder="Title" value="<%=post.title %>"></p>
    <p><input type="number" name="post[price]" placeholder="Price" value="<%=post.price %>"></p>
    <P>
        <input type="file" id="imageUpLoad" accept="images/*" name="images" multiple>
       <div>
           <% post.images.forEach( (image, i) => { %>
            <img src="<%= image.url%>" width="100px">
                <label for="image<%= i %>">
                    Delete?
                        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
                </label>
            <% }); %>
        </div>
    </P>
    <p><textarea name="post[description]" placeholder="Description"><%=post.description %></textarea></p>
    <p><input type="text" name="post[location]" placeholder="Location" value="<%=post.location %>"></p>
    <p><input type="submit" placeholder=""></p>
</form>

<script src="/javascripts/post-edit.js"></script>