<h1> Edit Post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <p><input type="text" name="post[title]" placeholder="Title" value="<%=post.title %>"></p>
    <p><input type="text" name="post[price]" placeholder="Price" value="<%=post.price %>"></p>
    <P>
        <input type="file" id="imageUpLoad" accept="images/*" name="images" multiple>
       <div>
           <% post.images.forEach( (image, i) => { %>
            <img src="<%= image.url%>" width="100px">
                <label for="image<%= i %>">
                    Delete?
                        <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image<%= i %>" value="<%= image.public_id %>">
                </label>
            <% }); %>
        </div>
    </P>
    <p><textarea name="post[description]" placeholder="Description"><%=post.description %></textarea></p>
    <p><input type="text" name="post[location]" placeholder="Location" value="<%=post.location %>"></p>
    <p><input type="submit" placeholder=""></p>
</form>

<script>
    // find post edit form 
    let postEditForm = document.getElementById('postEditForm');

    // add submit listener to post edit form
    postEditForm.addEventListener('submit', (e) => {
        // find length of uploaded images 
        const imageUpLoad = document.getElementById('imageUpLoad').files.length;
        
        // find the total number of existing images
        const existingImgs = document.querySelectorAll('.imageDeleteCheckbox').length;
    
        // find total number of potential deletions
        const imgDeletions = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
        
        // figure out if the form can be submittes or not

        const newTotal = (existingImgs - imgDeletions) + imageUpLoad;
      
        if(newTotal > 4){
            e.preventDefault();
            const removalAmt = newTotal - 4
            alert(`You need to remove at least ${removalAmt} (more) image${removalAmt === 1 ? '' : 's'}`);
        }

    
    });
    

</script>