<% layout('layouts/boilerplate') -%>
<h1>Posts Index!</h1>
<div id="map"></div>

<% include  ../partials/paginatePosts%>
<% posts.docs.forEach(({ id,title, price, description, location}) => { %>
    <div>
        <h2><%= title %></h2>
        <div>Price: <%= price %></div>
        <div><%= description %></div>
        <div><%= location %></div>
        <div><a href="/posts/<%=id %>">View more</a></div>
    </div>
<% }); %>

<% include  ../partials/paginatePosts%>
<script>
    mapboxgl.accessToken = "<%= mapBoxToken %>";
    var posts = { features: <%- JSON.stringify(posts.docs)%>}
 </script>
 <script src="/javascripts/allPostsClusterMap.js"></script>
 

