<h1>Posts Index!</h1>

<% posts.forEach(({ id,title, price, description, location}) => { %>
    <div>
        <h2><%= title %></h2>
        <div>Price: <%= price %></div>
        <div><%= description %></div>
        <div><%= location %></div>
        <div><a href="/posts/<%=id %>">View more</a></div>
    </div>
<% }); %>